.catx{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    margin-left: -10px;
}
.cat{
    margin-left: 10px;
}

.cat a{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cat a img{
    width: 100%;
}

@media screen and (max-width: 800px){
    .catx{
        grid-template-columns: 50% 50%;
    }
    .cat{
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 426px){
    .catx{
        grid-template-columns: 100%;
    }
    .cat{
        margin-bottom: 10px;
    }
}